body {
    background:
    linear-gradient(to right, #f2f1f1, #d8d8d8);
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    background-color: rgb(255, 183, 111);
    margin: 0 auto;
    height: 50px;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
    padding-top: 10px;
    padding-bottom: 30px;
}

div.card {
    margin: auto;
    background-color: rgb(255, 255, 255);
    height: 250px;
    width: 300px;
    box-shadow: 10px 10px rgba(255, 183, 111, 0.824);
    padding: 10px;
    border-radius: 50px;
}

p {
    font-size: 1.5em;
    color: rgb(255, 133, 11);
    font-family: Arial, Helvetica, sans-serif;
}
  
li {
    font-size: 1.05em;
    list-style: none;
    padding-right: 20px;
}
  
button {
    margin-right: 5px;
    margin-left: 6px;
    font-size: .70em;
    color: black;
    background-color: rgba(228, 228, 228, 0.598);
    border-radius: 10px;
}
  
button.remove {
    float: right;
    background-color: rgba(228, 228, 228, 0.598);
}
  
@media only screen and (min-width: 500px) {
    main {
        grid-template-columns: 1fr 1fr;
    }
}
  
@media only screen and (min-width: 850px) {
    main {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

