body {
    background:
    linear-gradient(to right, #e8e8e8, #b8b8b8);
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    background-color: rgb(255, 183, 111);
    margin: 0 auto;
    height: 50px;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
    padding-top: 10px;
    padding-bottom: 30px;
}

div.card {
    margin: auto;
    background-color: aliceblue;
    height: 250px;
    width: 300px;
    box-shadow: 10px 10px rgba(255, 183, 111, 0.427);
    padding: 10px;
    border-radius: 10px;
}

p {
    font-size: 1.5em;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
  
li {
    font-size: 1.05em;
    list-style: none;
    padding-right: 20px;
}
  
button {
    /* margin-right: 5px;
    margin-left: 6px; */
    font-size: .65em;
    color: black;
    background-color: linen;
    border-radius: 10px;
}
  
button.remove {
    float: right;
    background-color: lightsteelblue;
}
  
button.edit {
    float: right;
    background-color: lightsteelblue;
}

@media only screen and (min-width: 500px) {
    main {
        grid-template-columns: 1fr 1fr;
    }
}
  
@media only screen and (min-width: 850px) {
    main {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.card {
    background-color: hsla(360, 0%, 100%, 0.7);
}

